header {
    background-image: url('/images/bold-1-wave-header.jpg');
    background-position: center;
}

h1 {
    font-family: 'Titan One', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .45em;
}

h4 {
    margin-bottom: 25px;
}

input {
    outline: none;
}

footer a {
    display: block;
    font-size: 14px;
    font-weight: light;
}

footer h4 {
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 6rem;
}