header {
    background-image: url('/images/bold-1-wave-header.jpg');
    background-position: center;
}

h1 {
    font-family: 'Titan One', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .45em;
}

h4 {
    margin-bottom: 25px;
}

input {
    outline: none;
}

form input, 
form textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 2px solid rgb(220,220,220);
  outline: none;
  font-family: inherit;
  font-size: 0.9rem;
}

form input:focus,
form textarea:focus {
  border-color: teal;
}

textarea {
  min-height: 4rem;
}

form label {
  margin-top: 1rem;
  display: block;
  color: #6C7A89;
  font-weight: bold;
}

form button {
  background-color:#6C7A89;
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  letter-spacing: 0.1em;
  margin: 0.5rem 0;
}

footer a {
    display: block;
    font-size: 14px;
    font-weight: light;
}

footer h4 {
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 6rem;
}